$primaryColor: #50aa93;
$darkColor: #222222;

$canvasBgColor: #404147;  // for the center main content background.
$borderColor: #585858; // for all borders
$defaultTextColor: #c1c1c1; // for all text and there for icon colors
