@import "config";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $canvasBgColor;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    border-left: 1px solid $borderColor;

    a {
      padding: 10px 15px;
      display: inline-block;
      color: $defaultTextColor;
      font-size: 14px;
    }

    a:hover {
      color: #6aaa53;
    }
  }
}

ul.vertical {
  li {
    display: block;
    border: none;
    border-bottom: 1px solid $borderColor;

    a {
      padding: 15px 17px;

    }
  }
}

form {
  input {
    padding: 10px 10px;
    background: #333333;
    border: 1px solid #373945;
    outline: none;
    color: white;
    fill: #333333;


    :hover, :focus, :active {
      background: #333333;
      border-color: #393b48;
      outline: none;
          fill: #333333;

    }
  }
}

button {
  //padding: 10px 15px;
  //background: #212121;
  //border: 1px solid #373945;
  //outline: none;
  //color: #efefef;
  //cursor: pointer;
  padding: 11px 15px;
  background: #464646;
  border: transparent;
  outline: none;
  color: $defaultTextColor;
  cursor: pointer;

  :hover {
    //background: red !important;
    cursor: pointer;
    //outline: none;
      color: $primaryColor;

  }

}


